[Unit]
Description=Prometheus Docker Stats Exporter
After=docker.service

[Service]
Type=simple
ExecStart=/opt/docker-stats-exporter/docker-stats-exporter.sh
WorkingDirectory=/opt/docker-stats-exporter
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target